<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DiscordCurrentGame" value=""/>
    <add key="ScanDaikatanaServers" value="1"/>
    <add key="ScanHexenWorldServers" value="1"/>
    <add key="ScanHexen2Servers" value="1"/>
    <add key="ScanHeretic2Servers" value="1"/>
    <add key="MasterServerIP" value="master.maraakate.org"/>
    <add key="MasterServerUDPPort" value="27900"/>
    <add key="MasterServerTCPPort" value="28900"/>
    <add key="UtilityQueryPort" value="27192"/>
    <add key="ServerPingTimeout" value="1200"/>
    <add key="QuerySleep" value="30"/>
    <add key="BanListFileName" value =""/>

    <add key="DiscordLoginToken" value=""/>
    <add key="DiscordChannelId" value=""/>
    <add key="DiscordGuildId" value=""/><!--  Optional -->
    <add key="DiscordRoleId" value=""/><!--  Optional -->
    <add key="DiscordReadyChannelId" value=""/><!--  Optional -->
    <add key="DiscordReadyMessage" value="idTech1 and idTech2 bot connected and waiting for servers!"/>
  </appSettings>
</configuration>
