<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DiscordLoginToken" value=""/>
    <add key="DiscordChannelId" value=""/>
    <add key="DiscordGuildId" value=""/> <!-- Optional -->
    <add key="DiscordRoleId" value=""/> <!-- Optional -->
    <add key="DiscordReadyChannelId" value=""/> <!-- Optional -->
    <add key="DiscordReadyMessage" value="Daikatana UDP bot connected and waiting for servers!"/>
  </appSettings>
</configuration>
